* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --rose: #FF1D8D;
}

body {
    background-color: var(--rose);
}

.conversor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    width: 30vw;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
}

form input, select, option {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    margin-bottom: 16px;
}

label {
    margin-bottom: 6px;
    font-weight: 600;
}

form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}
