* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --rose: #FF1D8D;
}

body {
    background-color: var(--rose);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.conversor {
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    width: 30vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.conversor h1 {
    margin-bottom: 5px;
}

form input, select, option {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    margin-bottom: 16px;
}

label {
    margin-bottom: 6px;
    font-weight: 600;
}

form button[type="submit"] {
    width: 100%;
    padding: calc(1rem - 6px); /* 10px */
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: calc(1rem - 11px); /* 5px */
    cursor: pointer;
    font-size: 18px;
}

.resultado-box {
    text-align: center;
    margin: 1rem 0;
}

img {
    width: 8.75rem; /* 140px */
    height: auto;
}

@media (max-width: 768px) {
    .conversor {
        width: 90%;
        height: auto;
        padding: 20px;
    }
}
